body {
    background: $base-background;
    color: $base-color;
    font-size: $base-font-size;
    font-family: $base-font-family;
    line-height: $base-line-height;
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    margin-bottom: 20px;
    &:last-child {
        margin: 0;
    }
}

a {
    color: $link-color;
    font-weight: 800;
    text-decoration: none;
    transition: 0.3s background-color ease, 0.3s color ease;
    &:hover {
        color: darken($link-color, 10%);
        text-decoration: none;
    }
}

p a {
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

b,
strong {
    font-weight: 700;
}

i,
em {
    font-style: italic;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-color;
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;
    margin: 0 0 20px;
    line-height: 1.0;
    position: relative;
    a {
        color: $heading-color;
        &:hover {
            color: $link-color;
            text-decoration: none;
        }
    }
}

h1 {
    font-size: 48px;
    @include breakpoint(lg) {
        font-size: 40px;
    }
    @include breakpoint(md) {
        font-size: 30px;
    }
}

h2 {
    font-size: 30px;
    @include breakpoint(md) {
        font-size: 24px;
    }
}

h3 {
    font-size: 24px;
    @include breakpoint(md) {
        font-size: 20px;
    }
}

h4 {
    font-size: 20px;
    @include breakpoint(md) {
        font-size: 18px;
    }
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

.container {
    width: 100%;
    min-width: $min-width;
    max-width: $max-width;
    padding: 0;
    margin: 0 auto;
    position: relative;
    @include breakpoint(md) {
        padding: 0 15px;
    }
}

.container-full {
    width: 100%;
    min-width: $min-width;
    max-width: $max-width-wide;
    padding: 0;
    margin: 0 auto;
    position: relative;
    @include breakpoint(md) {
        padding: 0 15px;
    }
}

main {
    padding: 80px 0 30px;
    max-width: 1920px;
    margin: 0 auto;
    overflow-y: hidden;
    @include breakpoint(lg) {
        padding: 60px 0;
    }
    .home & {
        padding: 0;
    }
}

.section {
    clear: both;
    padding: 60px 0;
    //max-height: 100vh;
    @include breakpoint(lg) {
        padding: 40px 0;
    }
}

.heading {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {

    }
}

.break {
    flex-basis: 100%;
}

.section-full {
    width: 100%;
    max-width: 2200px;
    margin: 0 auto;
}

.date-event {
    max-width: 200px;
    display: flex;
    text-transform: uppercase;
    font-weight: 800;
    flex-wrap: wrap;

    .left-col {
        flex-basis: 20%;
        padding-right: 20px;
        .date-day {
            font-size: 24px;
            position: relative;

            &:after {
                content: '';
                display: block;
                position: absolute;
                height: 6px;
                width: 13px;
                background: $black;
                right: 0;
                margin-top: 3px;
            }
        }
    }

    .right-col {
        max-width: 160px;
        flex-basis: calc(80% - 20px);

        .date-time {
            font-size: 18px;
        }
        .date-text {
            font-size: 14px;
            line-height: 1.0;
            margin-top: 5px;
        }
    }

    .main-btn {
        flex-basis: 100%;
        margin-top: 30px;
    }
}

.small-p {
    .h6 {
        font-size: 36px;
        text-transform: uppercase;
        font-weight: 600;
        font-family: $base-font-family;
        position: relative;
        margin-bottom: 40px;

        &:after {
            content: '';
            height: 6px;
            width: 13px;
            background: $black;
            position: absolute;
            left: 0;
            bottom: -10px;
        }
    }

    p {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.2;
    }
}

.section-shapes {
    position: absolute;
    display: block;
    user-select: none;
    z-index: -1;
}

.link-next-screen {
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    overflow: hidden;
    background: $yellow;

    span {
        font-size: 28px;
        max-width: 120px;
        text-transform: uppercase;
        padding-bottom: 35px;
        line-height: 1;
        font-weight: 600;
    }

    &:hover{
        background: $yellow-dark;
    }
}

.row-next-wrapper {
  background: $yellow;
  margin-left: 305px;
  padding: 35px 100px 35px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .main-btn {
    width: 240px;
  }

  .h5 {
    flex-basis: 80%;
    text-align: center;
    font-size: 64px;
    font-weight: 800;
    line-height: 1.0;
    margin-bottom: 0;
  }
}
