.main {
  padding-top: 0;
  overflow-x: hidden;
}

.intro-section {
  padding-top: 170px;
  padding-bottom: 0;

  .intro-shapes {

    position: absolute;
    right: 0;
    top: -79px;
    z-index: -1;
  }

  .container {
    position: relative;

    &:before {
      content: '';
      display: block;
      height: 100%;
      width: 180px;
      background: $yellow;
      position: absolute;
      left: 25px;
      top: 0;
      z-index: -1;
    }

    .small-p {
      max-width: 500px;
      position: absolute;
      left: 260px;
      bottom: 0;
    }
  }
}

.intro-img {
  background: $yellow;
  max-width: 64%;
  position: relative;

  img {
    height: auto;
    width: auto;
    display: inherit;
  }

  //&:before {
  //  @include shape-default(62.83%, 108%, $yellow);
  //  position: absolute;
  //  left: 50%;
  //  bottom: 0;
  //  z-index: -2;
  //}

}

.intro-txt {
  position: absolute;
  right: 50px;
  top: 230px;

  .intro-title {
    font-size: 166px;
    line-height: 1.0;
    margin-bottom: 15px;
  }

  .intro-subtitle {
    font-size: 96px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: $second-font-family;
    line-height: 1.0;
    margin-bottom: 0;
  }

  .intro-moto {
    transform: translateX(150px);
    font-weight: 500;
    max-width: 200px;
  }
}

.intro-cta-block {
  position: absolute;
  left: 1420px;
  background: $yellow;
  height: 180px;
  width: 385px;
  top: 605px;
  display: flex;
  align-items: center;
  justify-content: center;

  .intro-cta-txt {
    position: absolute;
    top: 0;
    transform: translate(-50%,-150%);
    font-size: 36px;
    left: 50%;
    width: 100%;
    text-align: center;
  }

  .main-btn {
    margin-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.intro-counters {
  margin-left: 250px;
  padding-bottom: 180px;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 750px;
    padding-top: 50px;

    li {
      font-weight: 900;
      display: flex;
      flex-basis: 50%;
      justify-content: space-between;
      margin-bottom: 40px;

      .counter {
        font-size: 48px;
        display: flex;
        justify-content: flex-end;
        width: 100px;
        padding-top: 5px;
      }
      p {
        font-size: 24px;
        text-transform: uppercase;
        max-width: 200px;
        line-height: 1.4;
      }
    }
  }
}

.intro-bottom-section {
  padding-bottom: 80px;
  .container {
    position: relative;
  }
  .intro-bottom-shapes {
    left: 0;
    top: 0;
    width: 100%;
  }
}

.intro-bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-left: 210px;
  padding-top: 10px;
  max-width: 88%;

  .h5 {
    font-family: $base-font-family;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 100px;
    text-transform: uppercase;
  }

  .intro-bottom-img {
    transform: translateY(-1px);
  }

  .small-p {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .h6 {
      font-size: 96px;
      padding-bottom: 10px;
      border-bottom: 6px solid $black;
      font-family: $second-font-family;
      margin-right: 90px;
      margin-bottom: 0;

      &:after {
        display: none;
      }
    }

    p {
      font-size: 16px;
      flex-basis: 50%;
      max-width: 500px;
      padding-top: 10px;

      strong {
        font-size: 20px;
      }
    }
  }
}

.intro-bottom-left-col {
  max-width: 600px;
  transform: translateY(40px);
  background: $yellow;
  padding-right: 90px;
  padding-bottom: 80px;
  position: relative;

  .intro-bottom-img {
    width: 520px;
    height: 280px;
  }

  &:before {
    @include shape-default(28px, 100%, $yellow);
    position: absolute;
    left: -28px;
    bottom: 0px;
  }
}

.intro-bottom-right-col {
  transform: translate(0, -1px);
  max-width: 700px;

  .intro-bottom-img {
    opacity: 0.92;
  }

  .h5 {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

.intro-bottom-next {
  position: absolute;
  right: -130px;
  top: -51px;
  height: 192px;
  width: 420px;
  background: $yellow;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 70px;

  b {
    width: 83px;
    display: block;
    margin-right: 57px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.5;
  }
  span {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    transform: translateY(100%);
  }

  &:before {
    @include shape-default(45px, 16px, $black);
    position: absolute;
    left: 0;
    top: -6px;
  }

  &:after {
    @include shape-default(50%, 6px, $black);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.intro-bottom-title {
  position: relative;
  margin-bottom: 60px;
  font-size: 205px;
}

.intro-bottom-2-section {
  margin-bottom: 35px;
  position: relative;

  .section-shapes {
    right: 0;
    top: 0;
  }

  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    .intro-bottom-2-img {
    }
    .intro-bottom-2-text {
      flex-basis: 45%;
      padding-left: 120px;
      padding-right: 80px;
      padding-top: 10px;

      .h4 {
        font-size: 96px;
        margin-bottom: 30px;
      }

      .small-p {
        p {
          font-size: 24px;
        }
      }

      ul {
        padding-top: 60px;
        padding-left: 60px;

        li {
          strong {
            font-size: 22px;
            font-weight: 600;
            text-transform: uppercase;
            display: block;
            margin-bottom: 20px;
            position: relative;

            .lines {
              position: absolute;
              left: -50px;
              font-size: 30px;
              font-weight: 600;
              letter-spacing: -1px;
              top: 50%;
              transform: translateY(-50%);
            }
          }

          p {
            text-transform: uppercase;
            margin-bottom: 20px;
            max-width: 500px;
            font-weight: 600;
          }
        }
      }
    }
    .intro-bottom-2-title {
      flex-basis: 100%;
      text-align: left;
      padding-left: 80px;
      padding-top: 10px;

      .h3 {
        font-size: 96px;
        max-width: 1210px;
      }
    }
  }
}

.video-section-1 {
  position: relative;
  background-size: cover;
  padding: 230px 0 230px 50px;
  margin: 0 auto 0;
  max-width: 100%;
  overflow: hidden;

  .slider-video-bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      max-height: unset;
    }
  }

  .slide-test {
    background: $yellow;
  }

  .video-inner-content {
    width: 100%;
  }

  .slide-num {
    font-size: 72px;
    line-height: 1.0;
    display: block;
    margin-bottom: 40px;
    font-weight: 900;
    font-family: $second-font-family;
  }

  .video-inner-slide {
    color: $white;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .slide-text {
      max-width: 600px;
      padding: 40px 0;
    }

    h2 {
      color: $white;
      font-size: 72px;
      text-transform: uppercase;
      margin-bottom: 50px;
      line-height: 1.0;
    }

    p {
      font-size: 18px;
      font-weight: 600;
      padding-bottom: 80px;
    }
  }

  .video-btn-next {
    background-color: $yellow;
    color: $black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 15px 20px 40px;
    width: 280px;
    //position: relative;

    .next-text {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 800;
      line-height: 1.0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: $second-font-family;
    }

    &:hover {
      background-color: $yellow-dark;
    }
  }

  .slick-current {
    .video-btn-next {
      display: flex!important;
    }
  }

  .video-btn-prev {
    display: block;
    background-color: $yellow;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 585px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $yellow-dark;
    }
  }

  .slick-current {
    .video-btn-prev {
      display: none!important;
    }
  }

  .btn-video {
    position: absolute;
    top: 50%;
    right: 550px;
  }
}

.slide-wrapper {
  transition: 1s padding ease;
  padding-left: 200px;
}

.event-section {
  padding-top: 0;
  position: relative;
  padding-bottom: 0;

  //&:after {
  //  @include shape-default(190px, 288px, $yellow);
  //  position: absolute;
  //  right: 5px;
  //  bottom: 200px;
  //}

  .container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    transform: translateY(0);

    //&:before {
    //  @include shape-default(47px, 16px, $black);
    //  position: absolute;
    //  right: 150px;
    //  bottom: 0px;
    //}
    //
    //&:after {
    //  @include shape-default(339px, 16px, $black);
    //  position: absolute;
    //  right: 115px;
    //  transform: translateX(100%);
    //  bottom: 0;
    //}
  }

  .event-title-column {
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    .date-event {
      max-width: 240px;
      position: absolute;
      left: 590px;
      top: 80px;

      .date-day {
        font-weight: 500;
      }

      .date-text {
        font-size: 18px;
      }

      .right-col {
        max-width: 120px;
      }

      .date-day {
        font-size: 48px;

        &:after {
          display: none;
        }
      }
    }

    .event-descr-1 {
      font-size: 36px;
      text-transform: uppercase;
      font-weight: 900;
      display: block;
      margin-top: 140px;
      margin-bottom: 110px;

      span {
        display: inline-block;
        margin-right: 10px;
      }
    }

    .event-date {
      font-size: 144px;
      display: flex;
      align-items: flex-start;

      b {
        line-height: 0.8;
        font-weight: 500;
      }

      span {
        font-size: 48px;
        background: $yellow;
        text-transform: uppercase;
        line-height: 0.8;
        display: inline-block;
        height: 40px;
        padding: 0 20px;
      }
    }

    .event-title {
      font-size: 96px;
      max-width: 490px;
      line-height: 1.0;
      margin-top: 50px;
    }

    .event-subtitle {
      font-size: 36px;
      text-transform: uppercase;
      font-weight: 400;
      display: block;
      text-align: center;
      margin: 0 auto 60px;
      font-family: $base-font-family;
    }
  }
  .event-img-small {
    position: absolute;
    top: 0;
    right: 0;
  }

  &.event-1 {

    .event-title-column {
      padding: 0;
      position: absolute;
      bottom: 38px;
      right: 70px;
    }
    .event-img {
      display: flex;
      justify-content: space-between;
      background: transparent;

      .small-p {
        margin-top: 30px;
        max-width: 235px;
        margin-left: 50px;
        position: relative;
        p {
          padding: 30px 0;
          font-size: 18px;
        }
        //&:before,
        //&:after {
        //  @include shape-default(58px, 10px, $gray-dark);
        //  display: block;
        //}
      }
    }
  }

  &.event-2 {
    overflow: hidden;

    .container {
      //padding-top: 80px;
    }

    .event-heading {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      position: relative;
      padding-bottom: 0;

      .section-shapes {
        left: 380px;
        bottom: 20px;
      }


      .event-heading-text {
        margin-top: 80px;
        flex-basis: 100%;
        text-align: right;
        padding-right: 400px;

        .h2 {
          font-size: 96px;
          position: relative;
          display: inline-block;
        }
      }
    }
  }

  &.event-reverse {
    .event-img {
      position: relative;
      margin-left: 250px;
      margin-top: 40px;
    }

    .event-img-small {
      left: 200px;
      top: 35px;
    }
  }
}

.event-bottom-section {
  position: relative;
  margin-bottom: 80px;
  margin-top: 80px;
}

.event-bottom {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0;

  .event-bottom-date {
    display: flex;
    flex-basis: 30%;

    .date-day {
      font-size: 48px;
      margin-right: 20px;
    }

    b {
      font-size: 36px;
      text-transform: uppercase;
    }
  }

  .small-p {
    max-width: 330px;
    line-height: 1.2;
    font-size: 18px;
  }

  .small-p-right {
    position: absolute;
    right: 50px;
    top: -80px;
  }

  .event-bottom-images{
    display: flex;
    flex-basis: 100%;
    margin-top: 80px;

    .event-bottom-img {
      margin-right: 1px;
      img {
        opacity: 0.95;
      }
      p {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.5;
      }
    }
  }
}

.services-head-section {
  padding: 0;

  .services-col {
    padding-top: 0!important;

    .service-title {
      padding-top: 100px;
    }
  }

}

.services-row {
  .services-img-left {
    position: absolute;
    left: 0;
  }

  .services-img-right {
    position: absolute;
    right: 0;
  }

  .services-col {
    width: 100%;
    max-width: 43%;
    margin-left: 33%;
    padding-top: 80px;
    padding-bottom: 100px;

    .service-title {
      font-size: 92px;
      margin-bottom: 70px;
    }

    .small-p {
      p {
        font-size: 18px;
        padding-right: 80px;
      }
    }
  }
}

.service-section, .services-head-section {
  position: relative;

  .section-shapes {
    top: 0;
    z-index: -1;
  }

  .service-shapes-1 {
    top: 150px;
  }

  .service-shapes-2 {
    top: 100px;
    right: 44px;
  }

  .service-shapes-4 {
    top: 35px;
  }
}

.service-section {
  padding: 0;
}

.service-section-1 {
  padding: 0;

  .services-img-right {
    top: 40px;
  }
}

.service-section-3 {
  padding: 0;

  .services-img-left {
    top: -130px;
  }

  .services-img-right {
    top: 290px;
  }
}

.service-section-5 {
  padding: 0;

  .services-img-right {
    top: 210px;
  }
}

.service-section-6 {
  padding: 0;

  .services-img-left {
    top: 120px;
  }

  .services-img-right {
    top: 290px;
  }
}
