.main {
  padding-top: 0;
  overflow-x: hidden;
}

.intro-section {
  padding-top: 150px;
  padding-bottom: 80px;

  @include breakpoint(xxl) {
    padding-bottom: 30px;
  }

  @include breakpoint(md) {
    padding-top: 240px;
    padding-bottom: 0;

    .container {
      padding: 0;
    }
  }

  .intro-shapes {
    position: absolute;
    right: 0;
    top: -60px;
    z-index: -1;

    @include breakpoint(xxl) {
      top: -50px;
    }

    @include breakpoint(lg) {
      top: -30px;
    }
  }

  .container {
    position: relative;
    .small-p {
      max-width: 500px;
      position: absolute;
      left: 260px;
      bottom: 0;
    }
  }
}

.intro-img {
  background: $yellow;
  position: relative;
  overflow: hidden;
  max-width: 73.7%;

  img {
    height: auto;
    width: auto;
    display: inherit;
  }

  @include breakpoint(xxl) {
    max-width: 58.8%;
  }

  @include breakpoint(md) {
    max-width: 94%;
    margin-bottom: 30px;
    overflow: visible;

    &:after {
      @include shape-default(70%, 500px, $yellow);
      position: absolute;
      right: -30px;
      top: 0;
      z-index: -1;
    }
  }
}

.intro-txt {
  position: absolute;
  left: 67%;
  top: 50%;
  transform: translateY(-55%);

  .intro-title {
    font-size: 166px;
    line-height: 1.0;
    margin-bottom: 15px;
  }

  .intro-subtitle {
    font-size: 96px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: $second-font-family;
    line-height: 1.0;
    margin-bottom: 0;
  }

  .intro-moto {
    transform: translateX(150px);
    font-weight: 500;
    max-width: 200px;
  }

  .main-btn {
    float: right;
    padding: 10px 50px;
  }

  @include breakpoint(xxl){
    .intro-title {
      font-size: 130px;
    }
    .intro-subtitle {
      font-size: 80px;
    }
  }

  @include breakpoint(lg) {
    left: 62vw;
    transform: translateY(-60%);
    .intro-title {
      font-size: 100px;
    }
    .intro-subtitle {
      font-size: 60px;
    }
    .main-btn {
      padding: 5px 40px;
    }
  }

  @include breakpoint(md) {
    position: static;
    transform: translate(0);
    padding-left: 35px;

    .intro-title {
      font-size: 70px;
    }
    .intro-subtitle {
      font-size: 30px;
    }
    .main-btn {
      padding: 5px 40px;
      float: none;
    }
  }
}

.intro-cta-block {
  position: absolute;
  left: 1420px;
  background: $yellow;
  height: 180px;
  width: 385px;
  top: 605px;
  display: flex;
  align-items: center;
  justify-content: center;

  .intro-cta-txt {
    position: absolute;
    top: 0;
    transform: translate(-50%,-150%);
    font-size: 36px;
    left: 50%;
    width: 100%;
    text-align: center;
  }

  .main-btn {
    margin-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.intro-features {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 210px;
  padding-top: 35px;
  max-width: 77vw;

  li {
    display: flex;
    margin-right: 20px;
    align-items: center;

    .counter {
      font-size: 78px;
      font-weight: 700;
      font-family: $second-font-family;
      margin-right: 20px;
    }
    p {
      font-size: 30px;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 1.0;
      max-width: 250px;
    }
  }

  @include breakpoint(xxl){
    padding-top: 30px;

    li {
      .counter {
        font-size: 60px;
      }
      p {
        font-size: 22px;
      }
    }
  }

  @include breakpoint(xl) {
    padding-top: 45px;
  }

  @include breakpoint(lg) {
    padding-top: 30px;
    padding-left: 100px;
  }

  @include breakpoint(md) {
    padding: 30px 0 0 35px;
    flex-wrap: wrap;
    max-width: unset;

    li {
      flex-basis: 50%;
      margin-right: 0;
      margin-bottom: 30px;
      .counter {
        font-size: 40px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}

.intro-counters {
  margin-left: 250px;
  padding-bottom: 180px;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 750px;
    padding-top: 50px;

    li {
      font-weight: 900;
      display: flex;
      flex-basis: 50%;
      justify-content: space-between;
      margin-bottom: 40px;

      .counter {
        font-size: 48px;
        display: flex;
        justify-content: flex-end;
        width: 100px;
        padding-top: 5px;
      }
      p {
        font-size: 24px;
        text-transform: uppercase;
        max-width: 200px;
        line-height: 1.4;
      }
    }
  }
}

.intro-bottom-section {
  padding-bottom: 80px;
  .container {
    position: relative;
  }
  .intro-bottom-shapes {
    left: 0;
    top: 0;
    width: 100%;
  }
}

.intro-bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-left: 210px;
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 88%;

  .h5 {
    font-family: $base-font-family;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 100px;
    text-transform: uppercase;
  }

  .intro-bottom-img {
    transform: translateY(-1px);
  }

  .small-p {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .h6 {
      font-size: 84px;
      border-bottom: 6px solid $black;
      font-family: $second-font-family;
      margin-right: 90px;
      margin-bottom: 0;

      &:after {
        display: none;
      }
    }

    p {
      font-size: 16px;
      flex-basis: 50%;
      max-width: 650px;

      strong {
        font-size: 20px;
      }
    }
  }

  @include breakpoint(xxl) {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 160px;

    .small-p {
      .h6 {
        font-size: 76px;
        margin-right: 50px;
      }

      p {
        max-width: 460px;
      }
    }
  }

  @include breakpoint(lg) {
    padding-left: 110px;
    padding-top: 20px;
    padding-bottom: 10px;
    max-width: 92%;

    .small-p {
      width: 100%;
      background: $base-background;

      p {
        padding-top: 0;
      }
    }
  }

  @include breakpoint(md) {
    padding-left: 0;
    padding-top: 0;

    .small-p {
      flex-direction: column;

      .h6 {
        font-size: 50px;
        margin-bottom: 20px;
      }
    }
  }
}

.intro-bottom-left-col {
  max-width: 600px;
  transform: translateY(40px);
  background: $yellow;
  padding-right: 90px;
  padding-bottom: 80px;
  position: relative;

  .intro-bottom-img {
    width: 520px;
    height: 280px;
  }
}

.intro-bottom-right-col {
  transform: translate(0, -1px);
  max-width: 700px;

  .intro-bottom-img {
    opacity: 0.92;
  }

  .h5 {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

.intro-bottom-next {
  position: absolute;
  right: -130px;
  top: -51px;
  height: 192px;
  width: 420px;
  background: $yellow;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 70px;

  b {
    width: 83px;
    display: block;
    margin-right: 57px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.5;
  }
  span {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    transform: translateY(100%);
  }

  &:before {
    @include shape-default(45px, 16px, $black);
    position: absolute;
    left: 0;
    top: -6px;
  }

  &:after {
    @include shape-default(50%, 6px, $black);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.intro-bottom-title {
  position: relative;
  margin-bottom: 60px;
  font-size: 205px;
}

.intro-bottom-2-section {
  margin-bottom: 20px;
  padding-top: 20px;
  position: relative;

  .section-shapes {
    right: 0;
    top: 0;
  }

  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    .intro-bottom-2-img {
      flex-basis: 50%;
      position: relative;

      &:before {
        @include shape-default(15%, 30%, $yellow);
        right: 0;
        bottom: 0;
        position: absolute;
        z-index: -1;
        transform: translateX(70%);
      }

      &:after {
        @include shape-default(5%, 90%, $yellow);
        right: 0;
        bottom: 0;
        position: absolute;
        z-index: -1;
        transform: translateX(100%);
      }

      @include breakpoint(lg) {
        flex-basis: 100%;
      }

      @include breakpoint(md) {
        &:before {
          height: 235px;
          width: 45%;
          position: absolute;
          left: -30px;
          top: 0px;
          transform: translate(0);
        }

        &:after {
          display: none;
        }
      }
    }

    .intro-bottom-2-text {
      flex-basis: 45%;
      padding-left: 80px;
      padding-top: 50px;
      padding-right: 80px;
      transform: translateY(-20px);

      .h4 {
        font-size: 96px;
        margin-bottom: 30px;
      }

      .small-p {
        p {
          font-size: 24px;
          margin-bottom: 40px;

          &.last {
            margin-top: 50px;
          }
        }
      }

      @include breakpoint(xxl) {
        padding-left: 60px;
        padding-right: 60px;

        .small-p {
          p {
            font-size: 18px;
          }
        }
      }

      @include breakpoint(xl) {
        .small-p {
          p {
            margin-bottom: 20px;
          }
        }
      }

      @include breakpoint(lg) {
        flex-basis: 100%;
        padding-top: 50px;
        padding-left: 60px;
      }

      @include breakpoint(md) {
        flex-basis: 100%;
        padding: 0;
        padding-top: 40px;

        .small-p {
          p {
            margin-bottom: 15px;
            font-size: 18px;

            &.last {
              margin-top: 20px;
              font-weight: 700;
              margin-bottom: 0;
            }
          }
        }
      }

      ul {
        padding-top: 60px;
        padding-left: 60px;

        li {
          strong {
            font-size: 22px;
            font-weight: 600;
            text-transform: uppercase;
            display: block;
            margin-bottom: 20px;
            position: relative;

            .lines {
              position: absolute;
              left: -50px;
              font-size: 30px;
              font-weight: 600;
              letter-spacing: -1px;
              top: 50%;
              transform: translateY(-50%);
            }
          }

          p {
            text-transform: uppercase;
            margin-bottom: 20px;
            max-width: 500px;
            font-weight: 600;
          }
        }
      }
    }
    .intro-bottom-2-title {
      flex-basis: 100%;
      text-align: left;
      padding-left: 80px;
      padding-top: 10px;

      .h3 {
        font-size: 84px;
        max-width: 1210px;
        margin-bottom: 0;

        @include breakpoint(xxl) {
          font-size: 70px;
          max-width: 80%;
          margin-bottom: 0;
        }
      }

      @include breakpoint(lg) {
        flex-basis: 100%;
        padding-left: 60px;
      }

      @include breakpoint(md) {
        display: none;
      }
    }
  }
}

.video-section {
  position: relative;
  background-size: cover;
  padding: 200px 0 200px 50px;
  margin: 0 auto 0;
  max-width: 100%;
  overflow: hidden;

  @include breakpoint(xxl){
    padding: 80px 0 80px 20px;
  }

  .slider-video-bg,
  .slider-video-bg-2{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      max-height: unset;
    }
  }

  .slide-test {
    background: $yellow;
  }

  .video-inner-content {
    width: 100%;
  }

  .slide-num {
    font-size: 72px;
    line-height: 1.0;
    display: block;
    margin-bottom: 40px;
    font-weight: 900;
    font-family: $second-font-family;
  }

  .video-inner-slide {
    color: $white;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .slide-text {
      max-width: 600px;
      padding: 40px 0;
    }

    h2 {
      color: $white;
      font-size: 72px;
      text-transform: uppercase;
      margin-bottom: 50px;
      line-height: 1.0;
    }

    p {
      font-size: 18px;
      font-weight: 600;
      padding-bottom: 80px;
    }
  }

  .video-btn-next,
  .video-btn-next-2 {
    background-color: $yellow;
    color: $black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 15px 20px 40px;
    width: 280px;

    @include breakpoint(xxl){
      width: 230px;
      padding-left: 20px;
    }

    .next-text {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 800;
      line-height: 1.0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: $second-font-family;
    }

    &:hover {
      background-color: $yellow-dark;
    }
  }

  .slick-current {
    .video-btn-next,
    .video-btn-next-2{
      display: flex!important;
    }
  }

  .video-btn-prev,
  .video-btn-prev-2 {
    display: block;
    background-color: $yellow;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 585px;
    cursor: pointer;
    transition: background-color 0.3s;

    display: none!important;

    &:hover {
      background-color: $yellow-dark;
    }
  }

  .slick-current {
    .video-btn-prev {
      display: none!important;
    }
  }

  .btn-video {
    position: absolute;
    top: 50%;
    right: 40%;
    margin-top: -30px;
  }
}

.slide-wrapper {
  transition: 1s padding ease;
  padding: 0 15%;

  @include breakpoint(xxl){
    padding: 0 8%;
  }
}

.event-section {
  padding-top: 0;
  position: relative;
  padding-bottom: 0;

  .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transform: translateY(0);
  }

  .event-title-column {
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    .date-event {
      max-width: 240px;
      position: absolute;
      left: 590px;
      top: 80px;

      .date-day {
        font-weight: 500;
      }

      .date-text {
        font-size: 18px;
      }

      .right-col {
        max-width: 120px;
      }

      .date-day {
        font-size: 48px;

        &:after {
          display: none;
        }
      }

      @include breakpoint(lg) {
        padding-left: 40px;
      }
    }

    .event-descr-1 {
      font-size: 36px;
      text-transform: uppercase;
      font-weight: 900;
      display: block;
      margin-top: 140px;
      margin-bottom: 110px;

      span {
        display: inline-block;
        margin-right: 10px;
      }
    }

    .event-date {
      font-size: 144px;
      display: flex;
      align-items: flex-end;

      b {
        line-height: 0.8;
        font-weight: 500;
        font-size: 220px;
        font-family: $second-font-family;
      }

      span {
        font-size: 36px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 0.8;
        display: inline-block;
        margin-left: 20px;
        transform: translateY(-30px);
        height: 40px;
        position: relative;

        &:after {
          @include shape-default(133px, 37px, $yellow);
          position: absolute;
          left: -5px;
          bottom: -15px;
          z-index: -1;
        }
      }

      @include breakpoint(xxl){
        font-size: 100px;

        b {
          font-size: 170px;
        }
      }

      @include breakpoint(md) {
        font-size: 70px;

        b {
          font-size: 120px;
        }
      }
    }

    .event-title {
      font-size: 82px;
      line-height: 1.0;
      margin-top: 20px;
      position: relative;

      @include breakpoint(xxl){
        font-size: 70px;

        br {
          display: none;
        }
      }

      @include breakpoint(md) {
        font-size: 50px;
      }

      &:after {
        @include shape-default(140px, 13px, $black);
        display: inline-block;
        transform: translate(20px, -10px);
      }
    }

    .event-subtitle {
      font-size: 28px;
      text-transform: uppercase;
      font-weight: 500;
      line-height: 1.2;
      display: block;
      margin-top: 10px;
      font-family: $base-font-family;

      @include breakpoint(md) {
        display: none;
      }
    }
  }
  .event-img-small {
    position: absolute;
    top: 0;
    right: 0;
  }

  &.event-1 {

    .event-title-column {
      padding: 0;
      position: absolute;
      bottom: 38px;
      right: 70px;
    }
    .event-img {
      display: flex;
      justify-content: space-between;
      background: transparent;

      .small-p {
        margin-top: 30px;
        max-width: 235px;
        margin-left: 50px;
        position: relative;
        p {
          padding: 30px 0;
          font-size: 18px;
        }
      }
    }
  }

  &.event-2 {
    overflow: hidden;

    .container {
      //padding-top: 80px;
    }

    .event-heading {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      position: relative;
      padding-bottom: 0;

      .section-shapes {
        left: 380px;
        bottom: 20px;
      }


      .event-heading-text {
        margin-top: 30px;
        flex-basis: 100%;
        text-align: right;
        padding-right: 350px;

        .h2 {
          font-size: 110px;
          position: relative;
          display: inline-block;

          &:after {
            @include shape-default(515px, 45px, $yellow);
            position: absolute;
            right: -20px;
            bottom: 5px;
            z-index: -1;
          }
        }

        @include breakpoint(xxl) {
          padding-right: 250px;
          margin-top: 10px;
          .h2 {
            font-size: 80px;
            margin-top: 10px;
          }
        }

        @include breakpoint(lg) {
          padding-right: 180px;

          .h2 {
            font-size: 65px;
          }
        }
      }

      @include breakpoint(md) {
        .event-heading-text {
          text-align: left;
          padding-right: 0;
          margin-top: 0;

          .h2 {
            padding-left: 30px;
            margin-top: 0;
            font-size: 60px;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &.event-reverse {
    z-index: 2;

    .container {
      justify-content: space-between;

      @include breakpoint(xxl){
        align-items: flex-end;
      }

      @include breakpoint(md){
        align-items: flex-start;
        flex-direction: column;
      }
    }

    .event-title-column {
      transform: translateY(-110px);

      @include breakpoint(xxl){
        transform: translateY(-170px);
      }
      @include breakpoint(md) {
        transform: translateY(0);
        padding: 0;
        padding-top: 30px;
      }
    }

    .event-img {
      position: relative;
      max-height: 780px;
      margin-left: 100px;

      @include breakpoint(xxl){
        transform: translateY(10px);
      }

      &:after {
        @include shape-default(20vw, 120vh, $yellow);
        right: 0;
        position: absolute;
        transform: translateX(100%);
        top: -25vh;
      }

      .link-next-screen {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 2;
        transform: translateX(-100%);
        background: $yellow;
        width: 550px;
        height: 150px;
        display: flex;
        align-items: center;
        padding-top: 60px;
        justify-content: space-around;

        span {
          font-size: 28px;
          max-width: 120px;
          text-transform: uppercase;
          padding-bottom: 35px;
          line-height: 1.0;
          font-weight: 600;
        }

        &:hover{
          background: $yellow-dark;
        }

        img {
          width: 220px;
        }
      }

      @include breakpoint(lg) {
        margin-left: 0;
        .link-next-screen {
          height: 170px;
          padding-left: 50px;
        }
      }
    }

    .event-numbers {
      padding: 0 60px 0 10px;
      transform: translateY(-80px);

      .numbers-wrapper {
        padding: 40px 0 40px 0;
        border-top: 9px solid $black;
        border-bottom: 9px solid $black;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .event-number-block {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        align-items: flex-start;
        position: relative;

        &:after {
          @include shape-default(58px, 9px, $black);
        }

        strong {
          font-family: $second-font-family;
          font-size: 70px;
          font-weight: 500;
          line-height: 1.0;
        }

        span {
          font-size: 18px;
          font-weight: 600;
          text-transform: uppercase;
          display: block;
          line-height: 1.2;
          padding-bottom: 30px;
          max-width: 180px;
        }

        &:last-child {
          margin-bottom: 0;

          span {
            padding-bottom: 0;
          }
          &:after {
            display: none;
          }
        }
      }

      @include breakpoint(xxl){

        .event-number-block {
          strong {
            font-size: 40px;
          }
          span {
            font-size: 17px;
            max-width: 50px;
          }
        }
      }

      @include breakpoint(lg) {
        transform: translateY(-20px);
        .numbers-wrapper {
          border-top: none;
          border-bottom: none;
        }

        .event-number-block {
          strong {
            font-size: 30px;
            font-weight: 600;
          }

          span {
            max-width: 40px;
          }
        }
      }

      @include breakpoint(md) {
        padding-left: 0;
        .numbers-wrapper {
          flex-direction: row;
          padding-bottom: 0;
        }

        .event-number-block {
          margin-right: 20px;
          span {
            display: block;
            font-size: 14px;
            padding-top: 20px;
            max-width: 120px;
            height: 100px;
          }
          &:last-child {
            span {
              padding-bottom: 30px;
            }
            &:after {
              display: block;
            }
          }
        }
      }
    }

    .event-img-small {
      left: 200px;
      top: 35px;
    }
  }
}

.event-bottom-section {
  position: relative;
  margin-bottom: 80px;
  margin-top: 80px;
}

.event-bottom {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0;

  .event-bottom-date {
    display: flex;
    flex-basis: 30%;

    .date-day {
      font-size: 48px;
      margin-right: 20px;
    }

    b {
      font-size: 36px;
      text-transform: uppercase;
    }
  }

  .small-p {
    max-width: 330px;
    line-height: 1.2;
    font-size: 18px;
  }

  .small-p-right {
    position: absolute;
    right: 50px;
    top: -80px;
  }

  .event-bottom-images{
    display: flex;
    flex-basis: 100%;
    margin-top: 80px;

    .event-bottom-img {
      margin-right: 1px;
      img {
        opacity: 0.95;
      }
      p {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.5;
      }
    }
  }
}

.services-head-section {
  padding: 0;
  transform: translateY(-1px);
  z-index: 3;
  position: relative;

  .services-col {

    .service-title {
      margin-top: 100px;
    }
  }
}

.service-title {
  position: relative;
  display: inline-block;
  &:after {
    @include shape-default(218px, 29px, $yellow);
    position: absolute;
    right: 40px;
    top: 7px;
    z-index: -1;
  }

  &.service-title-1 {
    &:after {
      height: 87px;
      height: 87px;
      width: 228px;
      left: -50px;
      top: -12px;
    }
  }

  &.service-title-2 {
    &:after {
      height: 40px;
      width: 228px;
      left: -50px;
      top: auto;
      bottom: 5px;
    }
  }
  &.service-title-3 {
    &:after {
      height: 45px;
      width: 320px;
      right: 5px;
      top: -13px;
    }
  }
  &.service-title-4 {
    &:after {
      height: 44px;
      width: 128px;
      right: -10px;
      top: auto;
      bottom: 0px;
    }
  }
  &.service-title-5 {
    &:after {
      height: 40px;
      width: 123px;
      left: -30px;
      top: auto;
      bottom: 5px;
    }
  }
  &.service-title-6 {
    &:after {
      height: 70px;
      width: 173px;
      left: -28px;
      top: auto;
      bottom: 14px;
    }
  }
  &.service-title-7 {
    &:after {
      height: 40px;
      width: 85px;
      left: -2px;
      top: 0px;
    }
  }
  &.service-title-8 {
    &:after {
      height: 40px;
      width: 85px;
      right: auto;
      left: 90px;
      top: auto;
      bottom: -5px;
    }
  }
  &.service-title-9 {
    &:after {
      height: 40px;
      width: 215px;
      right: 58px;
      top: auto;
      bottom: -5px;
    }
  }
}

.section-shapes-slider {
  position: absolute;
  z-index: -1;

  .section-shapes {
    position: relative;
    height: 100vh;

    img {
      width: 100vw;
      height: 100vh;
    }
  }
}

.services-row {
  overflow: hidden;
  position: relative;

  &:after {
    @include shape-default(100%, 70px, $yellow);
    position: absolute;
    bottom: -10px;
    left: 0;

    @include breakpoint(md) {
      height: 30px;
    }
  }


  .services-slider {
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;

    &:before {
      @include shape-default(4%, 100%, $yellow);
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
    }
    &:after {
      @include shape-default(4%, 100%, $yellow);
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }

    .section-shapes {
      //transform: translateY(400px);
      overflow-y: hidden;
      z-index: -1;
    }

    position: relative;

    @include breakpoint(lg){
      padding-bottom: 150px;
    }

    @include breakpoint(md) {
      height: auto;
      overflow: visible;
      padding-bottom: 30px;
    }

    .service-slide {
      position: relative;
    }

    .slick-dots {
      position: relative;
      display: flex;
      margin: -40px auto 80px;
      max-width: 34%;
      justify-content: space-between;
      align-items: center;

      &:before {
        @include shape-default(100%, 4px, #BCAEAE);
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;
      }

      li {
        flex-basis: 33.3333%;
        display: flex;
        justify-content: center;

        button {
          font-size: 0;
          height: 16px;
          width: 100%;
          border: none;
          outline: none;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          background: transparent;
          opacity: 0;

          &:before {
            @include shape-default(17px, 16px, $black);
            z-index: 2;
          }
        }

        &.slick-active {
          button {
            opacity: 1;
          }
        }
      }
    }
  }

  .services-img-left {
    position: absolute;
    left: 0;
    max-width: 470px;
    max-height: 780px;

    &.bottom {
      bottom: 0;
    }

    @include breakpoint(xxl) {
      max-width: 400px;
    }
    @include breakpoint(xl) {
      max-width: 300px;
    }
    @include breakpoint(lg) {
      max-width: 270px;
    }
    @include breakpoint(md) {
      display: none;
    }
  }

  .services-img-right {
    position: absolute;
    right: 0;
    max-width: 470px;
    max-height: 780px;
    overflow: hidden;

    @include breakpoint(xxl) {
      max-width: 400px;
    }
    @include breakpoint(xl) {
      max-width: 300px;
    }
    @include breakpoint(lg) {
      max-width: 270px;
    }
    @include breakpoint(md) {
      display: none;
    }
  }

  .services-col {
    width: 100%;
    max-width: 40%;
    margin-left: 31%;
    padding-top: 45px;

    @include breakpoint(md) {
      max-width: 90%;
      margin-left: 20px;
    }

    &.first {
      margin-top: 30px;

      @include breakpoint(md) {
        margin-top: 0;
      }
    }

    .service-title {
      font-size: 80px;
      margin-bottom: 30px;
      margin-top: 0;

      @include breakpoint(xxl) {
        font-size: 70px;
      }

      @include breakpoint(lg) {
        font-size: 60px;
      }

      @include breakpoint(md) {
        font-size: 42px;
        margin-bottom: 20px;
      }
    }

    .small-p {
      p {
        font-size: 14px;
        padding-right: 80px;
      }
    }

    ul {
      li {
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 5px;
        line-height: 1.5;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        &:before {
          margin-right: 12px;
          content: '';
          display: block;
          height: 6px;
          width: 7px;
          min-width: 7px;
          max-width: 7px;
          margin-top: 8px;
          background: $gray-dark;
        }

        //&:before {
        //  content: '';
        //  display: block;
        //  background: url("../images/icon-custom-square.svg");
        //  background-size: contain;
        //  position: absolute;
        //  left: 0;
        //}

        @include breakpoint(md) {
          li {
            font-size: 14px;
            line-height: 1.2;
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}

.service-section, .services-head-section {
  position: relative;

  .section-shapes {
    top: 0;
    z-index: -1;
  }
}

.service-section {
  padding: 0;
}

.service-section-1 {
  padding: 0;

  .services-img-right {
    top: 40px;
  }
}

.service-section-3 {
  padding: 0;

  .services-img-left {
    top: -130px;
  }

  .services-img-right {
    top: 290px;
  }
}

.service-section-5 {
  padding: 0;

  .services-img-right {
    top: 210px;
  }
}

.service-section-6 {
  padding: 0;

  .services-img-left {
    top: 120px;
  }

  .services-img-right {
    top: 290px;
  }
}

.section-price {
  padding: 0;
  transform: translateY(-2px);

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .price-title-row {
    display: flex;
    flex-wrap: wrap;
    padding-left: 180px;
    padding-bottom: 100px;
    flex-basis: 80%;

    &:after {
      @include shape-default(100vw, 100px, $yellow);
      position: absolute;
      bottom: -2px;
      left: 0;
      z-index: -1;
    }

    .h3 {
      font-size: 115px;
      line-height: 0.9;
      width: 100vw;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .small-p {
      p {
        font-size: 30px;
        font-weight: 800;
        max-width: 640px;
      }
    }

    @include breakpoint(xxl) {
      flex-basis: 60%;
      padding-left: 8%;
      padding-bottom: 30px;

      .h3 {
        font-size: 65px;
        font-weight: 900;
        margin: 25px 0;
      }

      .small-p {
        p {
          font-size: 20px;
          max-width: 60%;
        }
      }
    }

    @include breakpoint(md) {
      padding-left: 0;

      .h3 {
        font-size: 45px;
        line-height: 1.2;
      }

      .small-p {
        p {
          max-width: 95%;
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
  }

  .price-img {
    flex-basis: 100%;
    max-width: 1175px;
    overflow: hidden;

    @include breakpoint(xxl) {
      max-width: 60%;
    }

    @include breakpoint(md) {
      max-width: calc(100vw - 30px);
    }
  }

  .pricing-column {
    flex-basis: 50%;
    position: absolute;
    left: 62%;
    top: 60px;

    @include breakpoint(xxl) {
      left: auto;
      right: 2%;
    }

    @include breakpoint(lg) {
      right: 0;
    }

    @include breakpoint(md) {
      position: static;
      order: -1;
    }

    .price-num {
      padding-right: 50px;
      position: relative;

      &:before {
        @include shape-default(56px, 16px, $black);
        margin-bottom: 50px;
      }

      span {
        line-height: 1.1;
        font-weight: 600;
        font-size: 28px;
        text-transform: uppercase;
        padding-left: 10px;
      }
      strong {
        line-height: 0.9;
        font-size: 144px;
        font-weight: 600;
        display: block;
        font-family: $second-font-family;
        margin-bottom: 20px;
      }

      @include breakpoint(xxl) {
        span {
          font-size: 22px;
        }
        strong {
          font-size: 80px;
        }
      }

      @include breakpoint(lg) {
        padding-right: 20px;
      }

      @include breakpoint(md) {
        width: 100vw;
        margin-bottom: 20px;
        padding-top: 30px;

        &:before {
          margin-bottom: 35px;
        }
      }
    }

    .strong-p {
      p {
        font-weight: 800;
        text-transform: uppercase;
        font-size: 28px;
        max-width: 450px;
        margin-bottom: 40px;
        line-height: 1.2;
      }
    }

    .small-p {
      strong {
        display: block;
        font-family: $second-font-family;
        font-size: 96px;
        margin-bottom: 30px;

        svg {
          display: inline-block;
          margin-left: 30px;
          transform: translateY(-7px);
        }
      }

      p {
        font-size: 18px;
        font-weight: 600;
        max-width: 445px;
      }
    }
    .pricing-row:nth-child(2){
      margin-top: 120px;

      strong {
        color: $white;

        svg {
          stroke: $white;

          rect {
            fill: $white;
          }
        }
      }
    }
  }

  .link-next-screen {
    cursor: pointer;
    right: 14%;
    bottom: 40px;
    width: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    height: 130px;
    padding: 35px;
    overflow: hidden;
    position: absolute;


    span {
      font-size: 28px;
      max-width: 120px;
      text-transform: uppercase;
      padding-bottom: 35px;
      line-height: 1;
      font-weight: 600;
    }

    @include breakpoint(xl) {
      right: 2%;
      bottom: 0;
      width: auto;
    }

    @include breakpoint(md) {
      display: none;
    }
  }
}

.jcf-scrollbar-vertical {
  position: absolute;
  cursor: default;
  background: $gray2;
  width: 4px;
  top: 42%;
  left: 51%;
  padding-top: 30px;
  padding-bottom: 30px;
  transform: rotate(-90deg);

  &:after {
    content: '';
    display: block;
    right: 3px;
    top: 0;
    background: $base-background;
    width: 150px;
    height: 200vw;
    transform: translateY(-50%);
    position: absolute;
    z-index: -1;
  }

  .jcf-scrollbar-slider {
    height: 100% !important;
    max-height: 100vh!important;
  }
}

.jcf-scrollbar-vertical .jcf-scrollbar-dec,
.jcf-scrollbar-vertical .jcf-scrollbar-inc {
  background: $gray2;
  height: 14px;
  width: 14px;
  left: 0;
  top: 0;
  display: none;
}

.jcf-scrollbar-vertical .jcf-scrollbar-inc {
  top: auto;
  bottom: 0;
}

.jcf-scrollbar-vertical .jcf-scrollbar-handle {
  background: $black;
  height: 17px !important;
  width: 16px;
  margin-left: -5px;
}

.jcf-scrollbar-horizontal {
  position: absolute;
  background: $gray2;
  right: auto;
  left: 0;
  top: 0;
  width: 1px;
  height: 2px;
}

.jcf-scrollbar-horizontal .jcf-scrollbar-dec,
.jcf-scrollbar-horizontal .jcf-scrollbar-inc {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  background: $gray2;
  height: 6px;
  width: 6px;
  display: none;
}

.jcf-scrollbar-horizontal .jcf-scrollbar-inc {
  left: auto;
  right: 0;
}

.jcf-scrollbar-horizontal .jcf-scrollbar-slider {
  display: block;
  position: relative;
  height: 2px;
  width: 100% !important;
}

.jcf-scrollbar-horizontal .jcf-scrollbar-handle {
  position: absolute;
  background: $gray2;
  width: 36px !important;
  height: 10px;
  margin-top: -4px;
}

.jcf-scrollbar.jcf-inactive .jcf-scrollbar-handle {
  visibility: hidden;
}

.jcf-scrollbar.jcf-inactive .jcf-scrollbar-dec,
.jcf-scrollbar.jcf-inactive .jcf-scrollbar-inc {
  background: $gray2;
  display: none;
}

.section-workflow {
  position: relative;
  padding-top: 100px;
  padding-bottom: 0;

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .section-shapes {
    right: -3px;
    top: 43px;
  }
  .workflow-heading {
    padding-left: 100px;
    .workflow-title {
      .num {
        display: flex;
        align-items: flex-start;
        font-size: 144px;
        position: relative;
        font-weight: 500;
        line-height: 1.0;

        span {
          font-size: 48px;
          text-transform: uppercase;
          background: $yellow;
          line-height: 0.95;
          padding: 0 10px;
          font-weight: 500;
          margin-left: 30px;
        }
      }
      .h3 {
        font-size: 96px;;
      }
    }
  }

  .worflow-cta {
    margin-left: 170px;
    strong {
      font-size: 36px;
      text-transform: uppercase;
      font-weight: 800;
      display: inline-block;
      position: relative;
      line-height: 34px;
      margin-bottom: 110px;

      &:after {
        @include shape-default(45px, 16px, $gray-dark);
        position: absolute;
        left: 0;
        bottom: -40px;
      }
    }

    svg {
      display: inline-block;
      margin-left: 25px;
    }
  }

  .workflow-items-wrapper {
    flex-basis: 100%;
    margin-top: 150px;
  }
}

.workflow-item {
  display: flex;
  justify-content: space-between;

  .item-txt {
    padding-left: 140px;
    padding-top: 120px;
    max-width: 750px;
    line-height: 1.0;

    .workflow-item-title {
      font-size: 96px;
      font-family: $second-font-family;
      margin-bottom: 80px;
      display: inline-block;
      position: relative;

      &:after {
        @include shape-default(357px, 58px, $yellow);
        position: absolute;
        right: -230px;
        top: 9px;
        z-index: -1;
      }
    }

    p {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 18px;
    }
  }

  &:nth-child(2) {
    .workflow-item-title:after {
      height: 88px;
      width: 204px;
      left: -20px;
      position: absolute;
      top: -14px;
    }
  }

  &:nth-child(3) {
    .workflow-item-title:after {
      height: 54px;
      width: 241px;
      left: 0;
      position: absolute;
      top: -24px;
    }
  }

  .workflow-item-img{
    position: relative;

    &>img {
      height: 100%;
    }

    .img-icon {
      height: 162px;
      width: 182px;
      background: $yellow;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  &.reverse {
    flex-direction: row-reverse;

    .workflow-item-img {
      .img-icon {
        left: auto;
        right: 0;
      }
    }
  }
}

.form-section {
  padding-top: 0;
  position: relative;
  overflow-y: hidden;
  padding-bottom: 0;
  max-height: 95vh;
  transform: translateY(-1px);
  background: $yellow;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .section-shapes {
    left: 0;
    top: -5px;
    z-index: -1;

    width: auto;
  }
}

.form-img {
  max-width: 50%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 100%;
    width: auto;
    max-width: unset;
  }

  @include breakpoint(md) {
    display: none;
  }
}

.form-main-wrapper {
  max-width: 570px;
  margin-left: 12.5%;

  .h3 {
    font-size: 96px;
    margin-bottom: 50px;
  }

  .form-row {
    max-width: 460px;
    margin-bottom: 20px;
    position: relative;

    @include breakpoint(lg) {
      margin-bottom: 10px;
    }

    label {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      span {
        font-size: 18px;
        font-weight: 600;
        display: inline-block;
        margin-bottom: 10px;
      }

      input {
        background: transparent;
        border: 1px solid $black;
        padding: 8px;
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        outline: none;
        height: 44px;
        transition: all 0.3s ease;

        &::placeholder {
          font-size: 18px;
          font-weight: 600;
        }

        &:focus {
          border-color: $white;
        }

        &.has-error {
          border-color: #ff0000;
        }
      }
    }
  }

  @include breakpoint(xxl) {
    margin-left: 7%;
    margin-top: 120px;

    .h3 {
      font-size: 70px;
    }
  }

  .main-btn {
    margin-top: 80px;
    background: $black;
  }

  @include breakpoint(lg) {
    margin-left: 3%;
    margin-top: 0px;

    .main-btn {
      margin-top: 50px;
    }
  }

  @include breakpoint(md) {
    margin-top: 0;
    padding: 70px 0;
    margin-left: 0;

    .h3 {
      font-size: 50px;
      margin-bottom: 30px;
    }
  }
}

.section-pre-footer {
  padding: 0;
  height: 100vh;

  .section-shapes {
    z-index: -1;
  }

  @include breakpoint(xl) {
    height: 85vh;
    overflow: hidden;
  }

  @include breakpoint(lg) {
    height: auto;
  }

  .section-shapes {
    transform: translateY(-5px);
  }

  .pre-footer-row {
    display: flex;
    justify-content: space-between;
    padding: 14.2vw 80px 10.5vw;
    width: 100%;

    @include breakpoint(xl) {
      padding: 14.2vw 60px 7vw;
    }

    .col {
      font-weight: 900;
      text-transform: uppercase;
      line-height: 1.0;
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      transform: translateX(-7vw);

      span {
        font-size: 34px;
      }

      strong {
        font-weight: 900;
        font-size: 90px;
        font-family: $second-font-family;
      }

      .h4 {
        font-size: 140px;
      }

      @include  breakpoint(xxl) {
        transform: translateX(0);

        .h4 {
          font-size: 120px;
        }
      }
      @include  breakpoint(xl) {

        span {
          font-size: 30px;
        }

        strong {
          font-size: 70px;
        }

        .h4 {
          font-size: 100px;
        }
      }
    }

    .date-col {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .date-event {
      max-width: unset;
      flex-wrap: nowrap;
      align-items: center;
      margin-bottom: 5px;
      width: 100%;
      .date-day {
        position: relative;
        font-family: $second-font-family;
        font-size: 60px;
        line-height: 1.0;
        font-weight: 500;
        width: 40px;
        text-align: right;
        &:after {
          position: absolute;
          right: -5px;
          top: 0;
          z-index: -1;
          width: 120px;
          height: 50px;
          background: $yellow;
        }
      }
      .date-text {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        background: $base-background;
        padding-left: 2px;
      }

      &:nth-child(3) {
        .date-day {
          &:after {
            width: 90px;
            margin-right: -10px;
          }
        }
      }

      &:nth-child(2n) {
        .date-day {
          &:after {
            width: 0;
          }
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }

    @include breakpoint(md) {
      padding: 10px;
      flex-wrap: wrap;

      .col {
        margin-top: 20px;
        order: -1;
        span {
          font-size: 22px;
        }
        .h4 {
          font-size: 60px;
        }
        strong {
          font-size: 36px;
        }
      }

      .date-col {
        margin: 0 auto;
      }
    }
  }

  .pre-footer-row-bottom {
    display: flex;
    padding-left: 16vw;
    padding-right: 20px;
    width: 100%;
    align-items: flex-start;

    p {
      font-size: 32px;
      font-weight: 900;
      text-transform: uppercase;
      max-width: 800px;
      line-height: 1.1;

      @include  breakpoint(xl) {
        font-size: 30px;
      }
    }

    .main-btn {
      width: 240px;
      margin-left: 50px;
    }

    @include breakpoint(md) {
      padding: 10px;
      flex-direction: column;
      align-items: flex-start;

      p {
        font-size: 20px;
        font-weight: 800;
      }

      .main-btn {
        margin-left: 0;
      }
    }
  }
}

.portfolio-section {
  padding: 0;
  max-height: unset;

  .section-shapes {
    position: absolute;
    width: 60%;
  }

  .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;

    @include breakpoint(md) {
      padding: 0;
    }
  }

  .portfolio-grid-wrapper {
    flex-basis: 70%;
    max-width: 70%;

    @include breakpoint(lg) {
      max-width: 67%;
    }

    @include breakpoint(md) {
      flex-basis: 100%;
      max-width: 100%;
    }
  }

  .portfolio-bottom {
    position: relative;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: $yellow;
    padding-top: 50px;
    padding-right: 10vw;
    padding-left: 10vw;

    @include breakpoint(md) {
      display: none;
    }

    &:before {
      @include shape-default(200px, 70px, $base-background);
      position: absolute;
      left: 0;
      top: -1px;

      @include breakpoint(lg) {
        width: 100px;
      }
    }

    .h3 {
      font-size: 90px;
      line-height: 1.0;

      @include breakpoint(lg) {
        font-size: 70px;
      }
    }

    a {
      font-size: 33px;
      text-transform: uppercase;
      position: relative;
      font-weight: 600;
      transform: translateY(-50%);

      &:after {
        content: '';
        display: block;
        position: absolute;
        background: $black;
        height: 4px;
        width: 500px;
        right: -550px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .title-column {
    flex-basis: 30%;
    padding: 80px;
    padding-bottom: 0;
    padding-top: 140px;
    .h2 {
      font-size: 90px;
      max-width: 370px;
      margin-bottom: 50px;

      @include breakpoint(xxl){
        font-size: 70px;
      }
    }

    @include breakpoint(xl) {
      padding: 40px;
      padding-top: 220px;

      .h2 {
        font-size: 65px;
      }
    }

    @include breakpoint(lg){
      padding-top: 100px;
    }

    @include breakpoint(md){
      padding: 30px;
      flex-basis: 100%;
    }

    .subtitle {
      font-size: 33px;
      font-weight: 800;
      line-height: 1.0;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .lines {
        margin-right: 40px;

        @include breakpoint(xxl){
          max-width: 35px;
          margin-right: 20px;
        }
      }

      b {
        font-weight: 900;
        max-width: 200px;

        @include breakpoint(lg){
          max-width: 150px;
          font-size: 28px;
        }
      }

      .portfolio-arrow-next {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        text-decoration: none;
        cursor: pointer;

        img {
          width: 180px;
          max-height: 35px;
          transition: width 0.3s ease;
        }

        .next-name {
          font-size: 23px;
          display: none;
        }

        &:hover {

          img {
            width: 200px!important;
          }
        }
      }
    }
  }
}

.portfolio-grid {
  display: flex!important;
  flex-direction: column;
  flex-wrap: wrap;
  background: $yellow;
  max-height: 100vh;

  @include breakpoint(lg) {
    max-height: 70vh;
  }

  @include breakpoint(md) {
    max-height: 85vh;
  }

  .portfolio-item {
    flex-basis: 50%;
    width: 33.3333%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $yellow;

    @include breakpoint(sm) {
      width: 50%;
    }

    img {
      width: 100%;
      height: auto;
      transform: scale(1.01);
      transition: transform 0.3s ease;
    }

    //&:hover {
    //  img {
    //    transform: scale(1.07);
    //  }
    //}

    &.post-bottom {
      align-items: flex-end;
    }

    &.post-top {
      align-items: flex-start;
    }

    &.item-full {
      flex-basis: 100%;

      img {
        height: 100%;
      }

      @include breakpoint(md) {
        display: none;
      }
    }
  }

  //&.cases {
  //  .portfolio-item {
  //    border: 1px solid $yellow;
  //  }
  //}
}
