$min-width: 320px;
$max-width: 1920px;
$max-width-wide: 1920px;

$black: #000;
$white: #F8F8F8;
$gray: #888;
$gray-light: #DBDBDB;
$gray-dark: #383636;
$gray2: #BCAEAE;
$yellow: #FFAF36;
$yellow-dark: #ED9819;

$base-background: $white;
$base-color: $black;
$base-font-family: 'Gilroy', sans-serif;
$second-font-family: 'Bebas Neue', sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5em;

$link-color: $black;

$heading-color: $black;
$heading-font-family: $second-font-family;
$heading-second-font-family: $second-font-family;
$heading-font-weight: 900;
$heading-second-font-weight: 800;
$heading-line-height: 1.18em;
